Repository TechCell-Project/the-next-server, pull requests merged in 2024-03, with the labels that each got.

#2 feat(swagger): :sparkles: add swagger stats
  .vscode/settings.json
  package.json
  src/main.ts
  types/swagger-stats.d.ts
  yarn.lock
Labels: size/L

#4 feat(deploy): add docker, github workflow for ci/cd
  .github/labeler.yml
  .github/workflows/auto-merge-dev-into-stable.yml
  .github/workflows/build-test-pull-request.yml
  .github/workflows/close-pr-into-stable.yml
  .github/workflows/tech-cell-server-ci-cd.yml
  .vscode/settings.json
  Dockerfile
  containers/swag/Dockerfile
  containers/swag/nginx/nginx.conf
  containers/swag/nginx/proxy-confs/api.subdomain.conf
  containers/swag/nginx/proxy-confs/architecture.subdomain.conf
  containers/swag/nginx/proxy-confs/docs.subdomain.conf
  containers/swag/nginx/proxy-confs/grafana.subdomain.conf
  containers/swag/nginx/proxy-confs/prom.subdomain.conf
  containers/swag/nginx/proxy-confs/server.subdomain.conf
  containers/swag/nginx/proxy-confs/socket.subdomain.conf
  containers/swag/www/index.html
  containers/swag/www/rapi-doc.html
  containers/swag/www/redoc.html
  containers/swag/www/stoplight.html
  docker-compose.ssl.yaml
  docker-compose.yaml
  openapitools.json
  package.json
  scripts/convert-base64.js
  scripts/generate-sdk-git-push.sh
  scripts/get-swagger-yaml.js
  src/main.ts
  yarn.lock
Labels: size/XXL

#6 fix typos
  .github/workflows/tech-cell-server-ci-cd.yml
Labels: size/S

#7 Add schemas
  src/app.module.ts
  src/modules/attributes/schemas/attribute.schema.ts
  src/modules/categories/categories.module.ts
  src/modules/categories/index.ts
  src/modules/categories/schemas/category.schema.ts
  src/modules/categories/schemas/index.ts
  src/modules/categories/status.enum.ts
  src/modules/orders/enum/index.ts
  src/modules/orders/enum/order.enum.ts
  src/modules/orders/enum/payment.enum.ts
  src/modules/orders/enum/shipping.enum.ts
  src/modules/orders/orders.module.ts
  src/modules/orders/schemas/customer.schema.ts
  src/modules/orders/schemas/index.ts
  src/modules/orders/schemas/log.schema.ts
  src/modules/orders/schemas/order.schema.ts
  src/modules/orders/schemas/payment.schema.ts
  src/modules/orders/schemas/product.schema.ts
  src/modules/orders/schemas/shipping.schema.ts
  src/modules/product-variations/schemas/product-variation.schema.ts
  src/modules/users/schemas/address.schema.ts
Labels: size/L

#8 feat(auth): add confirm email
  .vscode/settings.json
  libs/common/src/redis/services/redis.service.ts
  package.json
  src/app.controller.ts
  src/app.module.ts
  src/app.service.ts
  src/modules/auth/auth.controller.ts
  src/modules/auth/auth.module.ts
  src/modules/auth/auth.service.ts
  src/modules/auth/dtos/auth-confirm-email.dto.ts
  src/modules/auth/dtos/auth-resend-confirm-email.dto.ts
  src/modules/auth/dtos/index.ts
  src/modules/i18n/i18n.generated.ts
  src/modules/i18n/i18n.module.ts
  src/modules/i18n/index.ts
  src/modules/i18n/lang.enum.ts
  src/modules/i18n/lang/en/mail-context.json
  src/modules/i18n/lang/vi_VN/mail-context.json
  src/modules/mail/index.ts
  src/modules/mail/mail.config.ts
  src/modules/mail/mail.constant.ts
  src/modules/mail/mail.module.ts
  src/modules/mail/mail.service.ts
  src/modules/mail/templates/confirm-email.hbs
  src/modules/mail/templates/reset-password.hbs
  src/modules/mail/types/confirm-email.type.ts
  src/modules/mail/types/index.ts
  src/modules/mail/types/mailer.type.ts
  yarn.lock
Labels: size/XXL

#9 Add user management features
  .vscode/settings.json
  libs/common/src/dtos/index.ts
  libs/common/src/dtos/objectid-param.dto.ts
  libs/common/src/index.ts
  libs/common/src/types/index.ts
  libs/common/src/types/infinity-pagination-result.type.ts
  libs/common/src/types/pagination-options.type.ts
  libs/common/src/utils/index.ts
  libs/common/src/utils/infinity-pagination.util.ts
  src/modules/attributes/index.ts
  src/modules/mail/types/confirm-email.type.ts
  src/modules/orders/schemas/log.schema.ts
  src/modules/orders/schemas/order.schema.ts
  src/modules/users/dtos/create-user.dto.ts
  src/modules/users/dtos/index.ts
  src/modules/users/dtos/query-user.dto.ts
  src/modules/users/dtos/user-infinity-pagination-result.dto.ts
  src/modules/users/enums/role.enum.ts
  src/modules/users/schemas/address.schema.ts
  src/modules/users/schemas/avatar.schema.ts
  src/modules/users/schemas/block.schema.ts
  src/modules/users/schemas/user.schema.ts
  src/modules/users/users.controller.ts
  src/modules/users/users.repository.ts
  src/modules/users/users.service.ts
Labels: size/L

#10 feat(users): :sparkles: add change role, block/unblock users
  src/modules/users/dtos/index.ts
  src/modules/users/dtos/update-user-mnt.dto.ts
  src/modules/users/schemas/block.schema.ts
  src/modules/users/users.controller.ts
  src/modules/users/users.repository.ts
  src/modules/users/users.service.ts
Labels: size/L
